/* src/components/style/APropos.module.css */

.main {
    background-color: #f9f9f9;
  }
  
  .profileSection {
    display: flex; /* Utilisation de flexbox */
    flex-direction: column; /* Si besoin de contenu sous l'image */
    align-items: center; /* Centre l'image horizontalement */
    justify-content: center; /* Centre l'image verticalement */
    margin-top: 2rem;
    text-align: center; /* Aligne le texte au centre si présent */
    background-color: #EFE9E1;
    padding: 1.5rem;
    border-radius: 10px;
  }
  
  .profileText {
    color: #4a4a4a;
    line-height: 1.6;
  }
  
  .storySection {
    text-align: center;
  }
  
  .storySection h2 {
    color: #1a1a1a;
    margin-bottom: 1rem;
  }
  
  .imageGallery {
    display: grid;
    gap: 1rem;
    row-gap: 2rem;
    padding-bottom: 3rem;
  }
  
  .imageGallery img {
    width: 100%;
    aspect-ratio: 1 / 1; /* Force un ratio 1:1 pour un carré */
    object-fit: cover;
    height: 400px;
    border-radius: 10px; /* Arrondir les coins */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Ombre subtile */
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease; /* Transitions fluides */
  }
  
  .imageGallery img:hover {
    transform: scale(1.05); /* Légère mise en avant */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée */
    filter: brightness(1.1); /* Légère augmentation de la luminosité */
  }
  
  .profileSection img {
    border-radius: 50%; /* Photo de profil en cercle */
    width: 200px;
    height: 200px;
    object-fit: cover; /* Ajustement pour éviter les distorsions */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Petite ombre pour la photo de profil */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .profileSection img:hover {
    transform: scale(1.1); /* Zoom au survol */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Accentuation de l'ombre */
  }
  