.profileSection {
  display: flex;
  border-radius: 10px;
  flex-wrap: wrap; /* Permet le retour à la ligne sur petits écrans */
  gap: 2rem;
  align-items: center;
  justify-content: center; /* Centre les colonnes sur petits écrans */
}

.storySection {
  margin-top: 2rem;
  border-radius: 10px;
}

.gridSection {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Deux colonnes par défaut */
  gap: 2rem;
  align-items: center;
}

.leftCol,
.rightCol {
  flex: 1;
}

.leftCol img,
.rightCol img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.fade-in {
  opacity: 0; /* Initialement transparent */
  transform: translateY(20px); /* Décalage vers le bas */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-visible {
  opacity: 1; /* Rendu visible */
  transform: translateY(0); /* Position originale */
}

@media (max-width: 768px) { /* Adaptation pour les écrans de largeur <= 768px */
  .gridSection {
    grid-template-columns: 1fr; /* Une seule colonne */
    gap: 1.5rem; /* Ajustez l'espacement si nécessaire */
  }
  
  .storySection {
    padding: 1.5rem; /* Réduisez le padding si besoin */
  }
}