.card {
    padding: 15px; /* Crée de l'espace à l'intérieur de chaque carte */
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.35);
    padding: 1rem !important;
    border-radius: 10px;
    background-color: white;
    overflow: hidden; /* Empêche le contenu de déborder */
}

.card:hover {
    transform: scale(1.05);
}

.iconContainer {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.flexContainer {
    gap: 1rem;
    padding: 0.5rem;
}

.cardTitle {
    font-size: 1.2rem;
    font-weight: 600;
    color: #2c3e50;
    margin-bottom: 0.5rem;
}

.cardDescription {
    font-size: 0.9rem;
    color: #7f8c8d;
    margin-bottom: 0.5rem;
}

.durationProgram {
    font-size: 0.85rem;
    color: #7f8c8d;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.rating {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: 0.5rem;
}

.ratingIcon {
    color: #f1c40f;
}

.rounded-full {
    border-radius: 50%;
}

.toggleButton {
    flex-direction:column !important;
    background-color: #3498db;
    color: white;
    border: none;
    margin-top: 2rem; /* Espacement avec la grille */
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .toggleButton:hover {
    background-color: #2980b9;
  }
  
  .image {
    width: 100%;
    margin: 1rem auto;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.imageZoom {
    width: 90%;
    height: 90%;
    max-height: fit-content;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    align-self: center;
    aspect-ratio: 1 / 1; /* Force un ratio 1:1 pour un carré */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Légère ombre */
    object-fit: cover; /* Remplit le carré sans déformer l'image */
    margin-bottom: 1rem;
    overflow: hidden; /* Cache toute partie qui dépasse des bords */
}

