.main {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centre verticalement */
  align-items: center; /* Centre horizontalement */
  background-color: #f9f9f9;
}

.contactForm {
  width: 400px;
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.35);
  background-color: #fff;
  gap: 5px; /* Espace entre les champs */
  display: flex;
  flex-direction: column;
}

.contactForm select {
  width: 100%;
  font-family: poppins;
  padding: 10px;
  border-radius: 10px;
  font-size: 1rem;
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
}

.contactForm div {
  margin: 10px 0;
}

.contactForm div label {
  font-family: poppins;
  font-size: 1rem;
  color: #555;
}

.contactForm div label input {
  transform: scale(1.2);
}


.contactForm input,
.contactForm textarea {
  align-self: center;
  font-family: poppins;
  border-radius: 10px;
  font-size: 1rem;
  border-width: 1px;
  border-color: #000;
  color: #000;
  width: 100%; /* Les champs occupent la largeur */
  padding: 10px;
}

.contactForm textarea {
  font-family: poppins;
  border-width: 1px;
  border-color: #000;
  border-radius: 10px;
  font-size: 1rem;
  color: #000;
  min-height: 200px;
  margin-bottom: 15px;
  padding: 10px;
}

.submitButton {
  font-size: 1rem;
  max-width: 400px;
  border-width: 0px;
  display: inline-flex;
  padding: 0.75rem 1.5rem;
  margin: 1rem auto; /* Centre le bouton dans son conteneur */
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  background-color: #72383D;
  color: white;
  transition: background-color 0.3s ease;
  text-decoration: none;
  margin: 0 auto; /* Centre le bouton */
}

.submitButton:hover {
  background-color: #AC9C8D;
}

.socialLinks {
  margin-top: 30px;
  text-align: center;
}

.socialLinks a {
  text-decoration-line: none;
  display: inline-block;
  margin: 0 10px;
  color: #72383d;
  font-weight: bold;
}

.contactForm input[type="number"] {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: 1rem;
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
}

.contactForm input[type="file"] {
  width: 100%;
  font-family: poppins;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 1rem;
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
  cursor: pointer;
}

.contactForm small {
  font-size: 0.80rem;
  color: #555;
  margin-top: -10px;
  display: block;
  text-align: left;
}

.fileUpload {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fileButton {
  padding: 10px 20px;
  font-family: poppins, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #72383d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.fileButton:hover {
  background-color: #ac9c8d;
}

.fileLabel {
  color: #555;
  font-family: poppins;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px; /* Ajuste selon le design */
}

.fileInput {
  display: none;
}

.contactForm label {
  font-weight: bold; /* Met en gras */
  font-size: 1rem;
  color: #555;
  position: relative; /* Nécessaire pour positionner l'astérisque */
}

.contactForm label::after {
  content: '*';
  color: red;
  margin-left: 5px; /* Espace entre le texte et l'astérisque */
  position: absolute;
  top: 0;
}

.contactForm label.no-required::after {
  content: '';
}

/* Global reset pour le responsive */
.body, .html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Pour les petits écrans */
@media (max-width: 768px) {
  .contactForm {
    width: 90%; /* Réduit la largeur pour s'adapter à l'écran */
    padding: 1.5rem; /* Diminue les marges */
  }

  .contactForm input,
  .contactForm textarea,
  .contactForm select,
  .contactForm button {
    font-size: 0.9rem; /* Réduit la taille de la police */
    padding: 8px; /* Réduit les marges internes */
  }

  .fileLabel {
    max-width: 150px; /* Réduit la largeur maximale pour les petits écrans */
    font-size: 0.8rem; /* Adapte la taille de police */
  }

  .submitButton {
    font-size: 0.9rem; /* Réduit la taille du bouton */
    padding: 0.5rem 1rem; /* Ajuste le padding */
  }

  .socialLinks {
    flex-direction: column; /* Empile les liens sociaux verticalement */
    gap: 10px; /* Espace entre les liens */
  }
}

/* Large écrans */
@media (min-width: 769px) {
  .contactForm {
    max-width: 400px;
  }
}
