.main {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centre verticalement */
  align-items: center; /* Centre horizontalement */
  background-color: #f9f9f9;
}

.contactForm {
  width: 500px;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.35);
  background-color: #fff;
  gap: 20px; /* Espace entre les champs */
  display: flex;
  flex-direction: column;
}

.contactForm select {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: 1rem;
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
}

.contactForm div {
  margin: 10px 0;
}

.contactForm div label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  gap: 10px;
  font-size: 1rem;
}

.contactForm div label input {
  transform: scale(1.2);
}


.contactForm input,
.contactForm textarea {
  align-self: center;
  font-family: poppins;
  border-radius: 10px;
  font-size: 1rem;
  border-width: 1px;
  border-color: #000;
  color: #000;
  width: 100%; /* Les champs occupent la largeur */
  padding: 10px;
}

.contactForm textarea {
  font-family: poppins;
  border-width: 1px;
  border-color: #000;
  border-radius: 10px;
  font-size: 1rem;
  color: #000;
  min-height: 200px;
  padding: 10px;
}

.submitButton {
  font-size: 1rem;
  max-width: 400px;
  border-width: 0px;
  display: inline-flex;
  padding: 0.75rem 1.5rem;
  margin: 1rem auto; /* Centre le bouton dans son conteneur */
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  background-color: #72383D;
  color: white;
  transition: background-color 0.3s ease;
  text-decoration: none;
  margin: 0 auto; /* Centre le bouton */
}

.submitButton:hover {
  background-color: #AC9C8D;
}

.socialLinks {
  margin-top: 30px;
  text-align: center;
}

.socialLinks a {
  text-decoration-line: none;
  display: inline-block;
  margin: 0 10px;
  color: #72383d;
  font-weight: bold;
}
