/* src/components/style/Footer.module.css */

.html, .body {
  height: 100%; /* S'assurer que le body prend toute la hauteur de la fenêtre */
  margin: 0; /* Enlever les marges par défaut */
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%; /* Le contenu prend au moins la hauteur de la fenêtre */
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding-top: 2.3rem;
  padding-bottom: 2rem;
  font-size: 0.9em;
  margin-top: auto; /* Pousse le footer vers le bas */
}

.contactInfo {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.link {
  color: #ddd;
  text-decoration: none;
  font-weight: 600;
}

.link:hover {
  text-decoration: none;
}

.powered {
  font-size: 0.7em;
  color: #ddd;
}

.contactInfo {
  font-size: 0.8rem;
  color: #fff;
  text-align: center;
  display: flex;
}

.contactInfo p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contactInfo a {
  color: #fff;
  text-decoration: none;
}

.contactInfo a:hover {
  text-decoration: none;
}
