  .hero {
    display: flex;
    gap: 2rem;
    background: linear-gradient(to right, #EFE9E1, #EFE9E1);
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    max-width: 1200px;
    box-sizing: border-box;
    width: 90%; /* S'assure que la section prend 100% de la largeur du conteneur */
    padding-left: 1rem; /* Ajoute un espace à gauche */
    padding-right: 1rem; /* Ajoute un espace à droite */
}
  
  .heroLeftColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    max-width: 30%; /* Limite la largeur pour correspondre à la colonne de texte */
  }
  
  .heroRightColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 60%;
  }
  
  .heroImage {
    object-fit: cover;
    border-radius: 8px;
    width: 100%;
    height: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .alizeJourney {
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .alizeJourney h3 {
    margin-bottom: 0.5rem;
    color: #72383D;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;

  }

  .journey-title{
    font-size: 1rem;
    color: #72383D;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;
    line-height: 1.2;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  }
  
  .alizeJourney ul {
    padding-left: 1.2rem;
    margin: 0.5rem 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
  }
  
  .ctaButton {
    display: inline-flex;
    padding: 1rem 2rem;
    margin: 1rem auto;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    background-color: #72383D;
    color: white;
    transition: background-color 0.3s ease;
    text-decoration: none;
    justify-content: center;
  }
  
  .ctaButton:hover {
    background-color: #AC9C8D;
  }
  
  @media (max-width: 768px) {
    .ctaButton {
      padding: 0.75rem 1rem;
      font-size: 0.9rem;
      max-width: 90%;
    }
  }
  
  .primaryButton {
    background-color: #72383D;
    color: white;
  }
  
  .primaryButton:hover {
    background-color: #AC9C8D;
  }
  
  .secondaryButton {
    background-color: #EFE9E1;
    color: #72383D;
    text-decoration: none;

  }
  
  .secondaryButton:hover {
    background-color: #D8C8B6;
    text-decoration: none;

  }
  
  .statsSection {
    margin: 3rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre le conteneur des statistiques */
}

.statsContainer {
    display: flex;
    justify-content: center; /* Centre les statistiques */
    gap: 2rem;
    max-width: 800px; /* Limite la largeur du conteneur */
    width: 100%;
    padding: 0 1rem; /* Ajoute un peu d'espace sur les côtés */
}

.statItem {
    text-align: center;
    flex: 1; /* Permet à chaque statistique de prendre un espace égal */
}
  
  .statItem h3 {
    font-size: 2em;
    color: #72383D;
  }
  
  .servicesSection, .testimonialsSection {
    margin-top: 60px;
    width: 90%;
    max-width: 800px;
    text-align: center;
  }


.heroContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 45%;
  }

  .slogan{
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    line-height: 1.3;
  }
  
  .serviceList, .testimonial {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .testimonialsSection .testimonial {
    background: #EFE9E1;
    padding: 1.5rem;
    border-radius: 10px;
    font-style: italic;
  }
  
  .ctaSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    padding: 1rem;
    background: linear-gradient(to top, #EFE9E1, #EFE9E1);
    color: black;
    border-radius: 10px;
    margin-top: 3rem;
}

  
  .serviceTable {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }
  
  .serviceTable th, .serviceTable td {
    padding: 1rem;
    border: 1px solid #EFE9E1;
  }

  .titleH1 {
    font-size: 2.5rem;
    color: #72383D;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;
    line-height: 1.2;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.statsSection h2 {
  margin-bottom: -15px;
}

.titleH2 {
    font-size: 1.8rem;
    color: #72383D;
    font-weight: 600;
    text-align: center;
    margin: 0.5rem 0 1rem;
    line-height: 1.3;
}
  
  .serviceTable th {
    background-color: #72383D;
    color: white;
  }
  
  .serviceTable td {
    background-color: #f9f9f9;
  }
  

  @media (max-width: 768px) {
    .titleH1 {
        font-size: 2rem;
    }

    .titleH2 {
        font-size: 1.5rem;
    }
    .heroImage {
        max-width: 365px;
    }
    .hero {
        flex-direction: column;
        align-items: center;
        padding-left: 1rem; /* Assure une marge à gauche */
        padding-right: 1rem; /* Assure une marge à droite */
    }
  
    .heroLeftColumn,
    .heroRightColumn {
        max-width: 100%;
    }
}

.contactInfo {
    margin-left: 20%;
    font-size: 1rem;
    color: #72383D;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.contactInfo p {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.contactInfo a {
    color: #72383D;
    text-decoration: none;
}

.contactInfo a:hover {
    text-decoration: none;
}
